@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-normal 
{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal 
{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.text-color 
{
    color: #8987A1;
}

.text-color-2 
{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}

/* nav style */
nav 
{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 0 100px;
}

.nav-right img 
{
    width: 100px;
    height: 50px;
}

.nav-left 
{
    display: flex;
    gap: 40px;
}

/* banner style */

.banner 
{
    display: flex;
    margin: 100px 100px 0 100px;
}

.banner-left 
{
    margin-top: 30px;
}

.banner-title 
{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-title span 
{
    color: #E95A08;
}

.banner-description
{
    width: 100%;        
}

/* this is the main section */

/* our plants style */
.plant-top
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.plant-description
{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

/* plant cart section */
.plant-cart-section
{
    margin: 100px 100px 0 100px;
}

.div-cart
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.plant-cart
{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.plant-bottom
{
   margin-bottom: 20px;
}

.plant-cart-img
{
    width: 100%;
}

.plant-details
{
    text-align: center;
}

.cart-btn
{
    width: 100%;
    background-color: #E95A08;
    color: white;
    padding: 10px 0px;
    margin-top: 10px;
    font-weight: 300;
    border: none;
}

/* plants lover style */
.batch
{
    /* height: 286px;
    width: 286px; */
    position: relative;
}

.batch-img
{
    height: 286px;
    width: 286px;
    position: absolute;
    top: -120px;
    right: 600px;
}

.plants-lover-bottom
{
    display: flex;
    gap: 60px;
    margin: 100px 100px 0 100px;
}

.plants-lover-bottom-img
{
    width: 540px;
    height: 590px;
}

.description
{
    width: 540px;
    height: 521px;
}

.plants-lover-title
{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.plants-lover-description-list
{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

/* latest deal style */
.latest-deal-bottom 
{
  display: flex;
  gap: 20px;
  margin: 100px 100px 0 100px;
  flex-wrap: wrap;
  width: 1140px;
  height: 423px;
  border: 2px solid hotpink;
}

.left-column 
{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1; */
}

.right-column 
{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal-box 
{
  color: white;
  padding: 40px 30px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  /* height: 250px; */
  display: flex;
  flex-direction: column;
}

.deal-img-1 {
  background-image: url('../assets/deal-bloom.png');
  margin-top: 10px;
  margin-bottom: 20px;
}

.deal-img-2 
{
  background-image: url('../assets/deal-ana.png');
}

.deal-img-3 
{
  background-image: url('../assets/deal-zabo.png');
  /* height: 520px; */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.latest-deal-title {
  font-size: 20px;
  font-weight: bold;
}

.latest-deal-description 
{
  /* background-color: white; */
  /* color: black;
  padding: 8px 16px;
  border-radius: 5px;
  width: fit-content; */
  /* font-weight: bold; */

}

/* join section style */

.join-section
{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 300px;
    margin-top: 50px;
}

.join-section-title
{
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.joint-input
{
    display: flex;
}

.joint-input input
{
    flex: 2;
    width: 75%;
    border: none;
}

.join-btn
{
    flex: 1;
    width: 25%;
    height: auto;
    color: white;
    background-color: #E95A08;
    border: none;
    padding: 10px 10px;
}

/* this is the footer section */
.footer-description
{
    width: 350px;
    height: 81px;
}

/* footer style */
.footer-section
{
    display: flex;
    justify-content: space-around;
}



/* responsive style */
@media screen and (max-width:576px) 
{
    nav 
    {
        margin: 20px 20px;
    }

    .nav-left 
    {
        gap: 15px;
    }

    .nav-left p:nth-child(1),
    .nav-left p:nth-child(2),
    .nav-left p:nth-child(3) 
    {
        display: none;
    }

    .banner 
    {
        flex-direction: column-reverse;
        margin: 20px 20px;
    }

    .banner-title 
    {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .banner-description
    {
        width: 100%;
    }

    .banner-img
    {
        width: 100%;
        height: 100%;
    }

    .plant-top
    {
        padding: 0;
        margin: 20px 20px;
    }

    .div-cart
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .plant-cart-section
    {
        margin: 20px 20px;
    }

    .plant-cart 
    {
        width: 100%;
        height: auto;
    }

    .cart-btn
    {
        font-size: 12px;
        padding: 6px 0;
    }

    .plant-cart-img
    {
        width: 100%;
        height: auto;
    }

    .plant-car-title, 
    .plant-cart-price
    {
        font-size: 14px;
    }

    /* plants lover section style */
    .plants-lover-bottom
    {
        flex-direction: column;
        margin: 20px 20px;
        align-items: center;
        margin: 0 auto;
    }

    .plants-lover-section
    {
        height: 100%;
        width: 360px;
    }

    .plants-lover-bottom-img
    {
        width: 300px;
        height: auto;
        display: block;
    }

    .plants-lover-title
    {
        font-size: 28px;
    }

    .plants-lover-description-list
    {
        font-size: 16px;
    }

    .description
    {
        width: 100%;
    }

    .batch-img
    {
        display: none;
    }

    .latest-deal-bottom
    {
        margin: 20px;
        flex-direction: column;
    }

    .right-column
    {
        flex-direction: column;
    }

    .join-section
    {
        padding: 20px 30px;
    }

    .footer-section
    {
        flex-direction: column;
    }
}